.rem-container {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 24px;
}

.rem-header {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 2px solid #aa0ac7;
  margin-bottom: 24px;
}

.rem-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.folder-input {
  color: #ccc;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
}

.rem-response {
  margin-top: 32px;
}

.rem-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #fff;
}

.rem-table th,
.rem-table td {
  padding: 10px;
  border: 1px solid #444;
}

.rem-table th {
  background-color: #2a2a2a;
  color: #fff;
}

.rem-table tr:nth-child(even) {
  background-color: #2a2a2a;
}
.titlee {
  text-align: center;
  font-size:200%;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}
.main-content{
  text-align: center;
}