.head {
  border: 3px solid blueviolet;
  margin: 10px;
  padding: 20px;
  height: calc(100vh - 180px);
  width: calc(100vw - 60px);
  overflow: auto;
}

.table2 {
  border: 3px solid;
  border-color: blueviolet;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #fff;
  padding: 10px;
}

.dbtable {
  margin: 0 auto;
  border: 2px solid #000;
  border-collapse: separate;
  border-spacing: 15px;
  background-color: #fff;
}

.heading-image {
  width: 100px;
  height: 30px;
  float: right;
}

body {
  color: #fff;
}

.link {
  color: orange;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}