.table1 {
  border: 3px solid;
  border-color: blueviolet;
  padding: 10px;
  width: 50%;
}

.dbconnection {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  overflow: auto;
}

button {
  color: white;
  background-color: blueviolet;
}

.page-border {
  border: 3px solid blueviolet;
  margin: 10px;
  padding: 20px;
  height: 100%;
}

.heading-image {
  width: 70px;
  height: 50px;
  object-fit: contain;
}