.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.App-logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 380px;
}

.Header-title {
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 28px;
  padding-left: 19px;
}